<div class="modal-header">
    <h3 class="modal-title">Confirm Submission</h3>
</div>

<div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
	<form name="postForm">
		<div class="form-group">
		    <div class="panel-body">
		    	<label><b>E-mail: &nbsp</b></label>{{test.email}}<br>
		    	<label><b>Location: &nbsp</b></label>{{test.location}}<br>
		    	<label><b>pH: </b>&nbsp</label>{{test.ph1}}&nbsp {{test.ph2}}<br>
		    	<label><b>Nitrate: </b>&nbsp</label>{{test.nitrate1}} &nbsp {{test.nitrate2}}<br>
		    	<label><b>Nitrite: </b>&nbsp</label>{{test.nitrite1}} &nbsp {{test.nitrite2}}<br>
		    	<label><b>Amonia: </b>&nbsp</label>{{test.amonia1}} &nbsp {{test.amonia2}}<br>
		    	<label><b>Phosphate: </b>&nbsp</label>{{test.phosphate1}} &nbsp {{test.phosphate2}}<br>
		    	<label><b>Chloride: </b>&nbsp</label>{{test.chloride1}} &nbsp {{test.chloride2}}<br>

		    	<label><b>Observations: </b></label>
		    	<p style="white-space: pre-line">{{test.observation}}</p><br>
		    	<label><b>Interventions: </b></label>
		    	<p style="white-space: pre-line">{{test.intervention}}</p><br>
		    </div>
		</div>
		
	</form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="no()">No</button>
</div>