<div class="modal-header">
    <h3 class="modal-title">Confirm Submission</h3>
</div>

<div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
	<form name="postForm">
		<div class="form-group">
		    <label><b>{{test.date | date:'short'}}</b></label><br>
		    <label><b>E-mail: </b></label>{{test.email}}<br>
		    <label><b>Location: </b></label>{{test.location}}<br>
		    <label><b>pH: </b></label>{{test.ph1}}<br>
		    <label><b>Observations: </b></label>{{test.observation}}<br>
		    <!-- <label><b>Photo: </b></label>{{newPost.photo}} -->
		</div>
		
	</form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="no()">No</button>
</div>